.container {
  max-width: 120rem;
  background-color: var(--grey-light-2);
  margin: 8rem auto;
  min-height: 100vh;
  box-shadow: 0 2rem 6rem var(--shadow-dark);
}
.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
}
.sidebar {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grey-dark-1);
}

.hotel-view {
  flex-basis: 80%;
  background-color: var(--white-color);
  height: 800px;
}
